<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="login-wrap p-0">
          <h3 class="mb-4 text-center">Registration</h3>
          <form (ngSubmit)="register()" class="signin-form">
            <div class="form-group">
              <input  type="name" name="name" class="form-control" placeholder="Name" [(ngModel)]="user.name" required>

            </div>
            <div class="form-group">
              <input  type="name" name="lastname" class="form-control" placeholder="LastName" [(ngModel)]="user.lastname" required>

            </div>
            <div class="form-group">
              <input id="password-field" name="password" type="password" class="form-control" placeholder="Password" [(ngModel)]="user.password" required>
              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
            </div>
            <div class="form-group">
              <input type="password" name="pass" class="form-control" placeholder="Confirm password" [(ngModel)]="pass" required>
              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
            </div>
            <div class="form-group">
              <input  type="email" name="email" class="form-control" placeholder="Email" [(ngModel)]="user.email" required>

            </div>
            <div class="form-group">
              <input  type="name" name="phone" class="form-control" placeholder="Phone" [(ngModel)]="user.phone" required>

            </div>
            <div class="form-group">
              <button type="submit" class="form-control btn btn-primary submit px-3">Register</button>
            </div>
          </form>

          <p class="w-100 text-center"><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">&mdash; Go Back To Home &mdash;</a></p>
          <p class="w-100 text-center"><a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">&mdash; Go Back To Login &mdash;</a></p>


        </div>
      </div>
    </div>
  </div>
</section>
