<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="login-wrap p-0">
          <h3 class="mb-4 text-center">Registration</h3>
          <form action="#" class="signin-form">
            <div class="form-group">
              <input  type="name" class="form-control" placeholder="Name" required>

            </div>
            <div class="form-group">
              <input  type="name" class="form-control" placeholder="LastName" required>

            </div>
            <div class="form-group">
              <input id="password-field" type="password" class="form-control" placeholder="Password" required>
              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Confirm password" required>
              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
            </div>
            <div class="form-group">
              <input  type="email" class="form-control" placeholder="Email" required>

            </div>
            <div class="form-group">
              <input  type="name" class="form-control" placeholder="Phone" required>

            </div>
            <div class="form-group">
              <button type="submit" class="form-control btn btn-primary submit px-3">Register</button>
            </div>
          </form>

          <p class="w-100 text-center"><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">&mdash; Go Back To Home &mdash;</a></p>
          <p class="w-100 text-center"><a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">&mdash; Go Back To Login &mdash;</a></p>


        </div>
      </div>
    </div>
  </div>
</section>
