

<form #reservationForm="ngForm" (ngSubmit)="goToPayment()" class="reservation">
  <input type="text" id="addressFrom" [(ngModel)]="addressFrom" (input)="updateMapFrom()" name="addressFrom"
         placeholder="Polaziste" ngModel required>

  <input type="text" id="addressTo" [(ngModel)]="addressTo" (input)="updateMapTo()" name="addressTo" placeholder="Odrediste"
         ngModel required>

  <input type="text" id="nap" [(ngModel)]="nap" name="nap" placeholder="Napomena" ngModel>

  <div class="components_container">
    <div class="select_component">
      <select name="tip" id="tip" [(ngModel)]="tip" ngModel required>
        <option class="hidden_option" selected disabled>Tip vozila</option>
        <option value="Karavan">Karavan</option>
        <option value="Hecbek">Hecbek</option>
        <option value="Limuzina">Limuzina</option>
      </select>
    </div> <!-- End of the select_component -->
  </div> <!-- End of drop_down_component -->
  <button type="submit" name="submit" ariaCurrentWhenActive="page" [disabled]="!reservationForm.form.valid">
    Rezervisi
  </button>

  <button type="button" (click)="simulateDrive()">Simulate Drive</button>
</form>



<div class="map-container">
  <div class="map-frame">
    <div id="map"></div>
  </div>
</div>











