

#fronto{
  margin:auto auto auto auto;
  z-index: 2;

}
.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 200px;
  z-index: 1;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
  height: 100%;
}
#lname{
  width: 12%;
  padding: 12px 10px;
  margin-left: 100px;
  margin-bottom: 200px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  margin-top: 40px;

}
#fname{
  width: 12%;
  padding: 12px 10px;
  margin-left: 200px;
  margin-bottom: 200px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  margin-top: 40px;

}

