input[type=text] {
  width: 20%;
  padding: 12px 20px;
  margin-left: 370px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 40px;


}

#fronto{
  margin:  0 auto;
  z-index: 2;

}
.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 200px;
  z-index: 1;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
  height: 100%;
}
