.change {
  margin: 20px;
}

.change form {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}

input,
select {
  margin: 10px;
  min-width: 500px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}

.change button {
  margin: 5px;
  background-color: #04aa6d;
  color: white;
}
