<div class="tab-content" id="User">
  <div class="change" id="personal">
    <form (ngSubmit)="updateData()" >
      <input type="text" [placeholder]="user.name" name="name" [(ngModel)]="update.name" />
      <input type="text" [placeholder]="user.lastname" name="lastname" [(ngModel)]="update.lastname"/>
      <input type="text" [placeholder]="user.city" name="city" [(ngModel)]="update.city" />
      <input type="text" [placeholder]="user.phone" name="phone" [(ngModel)]="update.phone"/>
      <button type="submit">Submit changes</button>
    </form>
  </div>
  <hr />
  <div class="change" id="email">
    <form (ngSubmit)="updateEmail()" >
      <input type="email" [placeholder]="user.email" name="email" [(ngModel)]="email" />
      <button type="submit">Change email</button>
    </form>
  </div>
  <hr />
  <div class="change" id="password">
    <form (ngSubmit)="updatePass()" >
      <input type="password" placeholder="Old password" name="oldPass" [(ngModel)]="oldpass"/>
      <input type="password" placeholder="New password" name="newPass" [(ngModel)]="newpass" l/>
      <input type="password" placeholder="Confirm new password" name="confirmNewPass" [(ngModel)]="pass"/>
      <button type="submit">Change password</button>
    </form>
  </div>
</div>
