<div class="topnav">
  <a class="active" routerLink="/admin" routerLinkActive="active" ariaCurrentWhenActive="page"><i
      class="fa fa-fw fa-home"></i>Home</a>


  <div class="topnav-right">
    <a routerLink="/admin/drivers" routerLinkActive="active" ariaCurrentWhenActive="page">Drivers</a>
    <a routerLink="/admin/clients" routerLinkActive="active" ariaCurrentWhenActive="page">Clients</a>
    <a routerLink="/" (click)="logout()">Logout</a>
    <a routerLink="/admin/profile" routerLinkActive="active" ariaCurrentWhenActive="page"><i
        class="fa fa-fw fa-user"></i>Profile</a>
  </div>
</div>
