<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="login-wrap p-0">
          <h3 class="mb-4 text-center">Registration</h3>
          <form (ngSubmit)="updatePass()" class="signin-form">
            <div class="form-group">
              <input id="password-field" name="password" type="password" class="form-control" placeholder="Password" [(ngModel)]="pass" required>
              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
            </div>
            <div class="form-group">
              <input type="password" name="pass" class="form-control" placeholder="Confirm password" [(ngModel)]="newpass" required>
              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
            </div>
            <div class="form-group">
              <button type="submit" class="form-control btn btn-primary submit px-3">Set password</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
