
<div class="panel">
    <div class="basic">
        <img src="../../assets/images/profile.jpg" id="profile">
        <h3>Pera Peric</h3>
      <br>
        <button type="button">Change profile picture</button>
      <br>
      <p><b>Member since:</b></p>
    </div>
    <div class="profile-data">
      <div class="tab">
        <button (click)="openTab('User')" [class.active]="activeTab === 'User'">User info</button>
        <button (click)="openTab('Billing')" [class.active]="activeTab === 'Billing'">Billing info</button>

      </div>
      <app-user-info *ngIf="activeTab === 'User'" [user]="user"></app-user-info>
      <app-billing-info *ngIf="activeTab === 'Billing'" [user]="user"></app-billing-info>
    </div>
</div>
