.panel {
  max-height: 720px;
  margin: 50px;
  background-color: rgba(51, 51, 51, 0.8);
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: right;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
}

input,
select {
  margin: 10px;
  min-width: 500px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}

.change button {
  margin: 5px;
  background-color: #04aa6d;
  color: white;
}

.basic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  margin-right: 200px;
}

.basic h3 {
  color: white;
}

.profile-data {
  margin-right: 0;
  max-width: 800px;
  max-height: 720px;
  overflow-y: auto;
}

.change {
  margin: 20px;
}

.change form {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}

#profile {
  max-width: 250px;
  max-height: 250px;
  border-radius: 150px;
}
