
<h2 style="font-family: sans-serif">Buduce voznje</h2>

<div class="table-wrapper">
  <table  #myTable class="fl-table">
    <thead>
    <tr>
      <th style="border-top-left-radius: 5px">Client</th>
      <th>Date</th>
      <th>Price</th>
      <th>Starting Point</th>
      <th >Destination</th>
      <th style="border-top-right-radius: 5px"></th>
    </tr>

    </thead>
    <tbody>

    <tr *ngFor="let row of data;let i = index" style="border-top-right-radius: 5px">
      <td style="border-bottom-left-radius: 5px">{{ row.clientName }}</td>
      <td >{{ row.date }}</td>
      <td>{{ row.price }}</td>
      <td>{{ row.origin }}</td>
      <td >{{ row.destination }}</td>
      <td style="border-bottom-right-radius: 5px"><button type="button" (click)="startDrive(i)" *ngIf="i==0" [disabled]="isOnline">start</button></td>

    </tr >


    <tbody>
  </table>
  <br>
  <div>


  </div>
</div>

