
<h2 style="font-family: sans-serif">Buduce voznje</h2>

<div class="table-wrapper">
  <table  #myTable class="fl-table">
    <thead>
    <tr>
      <th style="border-top-left-radius: 5px">Naziv klijenta</th>
      <th>Datum</th>
      <th>Cena</th>
      <th>Polazište</th>
      <th >Odredište</th>
      <th style="border-top-right-radius: 5px">Zapocnite voznju</th>
    </tr>

    </thead>
    <tbody>

    <tr *ngFor="let row of data" style="border-top-right-radius: 5px">
      <td style="border-bottom-left-radius: 5px">{{ row.clientName }}</td>
      <td >{{ row.date }}</td>
      <td>{{ row.price }}</td>
      <td>{{ row.origin }}</td>

      <td >{{ row.destination }}</td>
      <td style="border-bottom-right-radius: 5px"><button>start</button></td>
    </tr >


    <tbody>
  </table>
  <br>
  <div align="center">


  </div>
</div>

