<div class="topnav">
  <a class="active" routerLink="/driver-home" routerLinkActive="active" ariaCurrentWhenActive="page"><i
    class="fa fa-fw fa-home"></i>Home</a>


  <div class="topnav-right">
    <a>Status</a>
    <a routerLink="/driver-home/history" routerLinkActive="active" ariaCurrentWhenActive="page">History</a>
    <a routerLink="/" (click)="logout()">Logout</a>
    <a routerLink="/driver-home/profile" routerLinkActive="active" ariaCurrentWhenActive="page"><i
      class="fa fa-fw fa-user"></i>Profile</a>
  </div>
</div>
