<h2>Istorija Voznji</h2>
<div class="table-wrapper">
  <table  #myTable class="fl-table">
    <thead>
    <tr>
      <th style="border-top-left-radius: 5px"><button type="button" class="sort" (click)="sortKlijent()" >Naziv vozaca</button></th>
      <th><button type="button" class="sort" (click)="sortDatum()">Datum</button></th>
      <th><button type="button" class="sort" (click)="sortCena()">Cena</button></th>
      <th><button type="button" class="sort" (click)="sortPolaziste()">Polazište</button></th>
      <th style="border-top-right-radius: 5px"><button type="button" class="sort" (click)="sortOdrediste()">Odredište</button></th>
    </tr>

    </thead>
    <tbody>

    <tr *ngFor="let row of paginatedData">
      <td style="border-bottom-left-radius: 5px">{{ row.clientName }}</td>
      <td >{{ row.date }}</td>
      <td>{{ row.price }}</td>
      <td>{{ row.origin }}</td>
      <td style="border-bottom-right-radius: 5px">{{ row.destination }}</td>
    </tr>


    <tbody>
  </table>
  <br>
  <div align="center" >

  <button (click)="previousPage()" class="button">Previous</button>
    <button  (click)="NextPage()" class="button">Next</button>
</div>

</div>
