<button type="button" (click)="goToRegister()">Add a new driver</button>
<div class="table-wrapper">
  <table #myTable class="fl-table">
    <thead>
    <tr>
      <th style="border-top-left-radius: 5px">Email</th>
      <th>Name</th>
      <th>City</th>
      <th>Phone number</th>
      <th>Billing</th>
      <th>In ride?</th>
      <th>Enabled</th>
      <th>Blocked</th>
      <th *ngIf="isDriver">Online status</th>
      <th *ngIf="isDriver" style="border-top-right-radius: 5px">Current/Last known location</th>
      <th style="border-top-right-radius: 5px">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of data" style="border-top-right-radius: 5px">
      <td style="border-bottom-left-radius: 5px">{{ row.email }}</td>
      <td style="border-bottom-left-radius: 5px">{{ row.ime }}</td>
      <td>{{ row.grad }}</td>
      <td>{{ row.brojTel }}</td>
      <td>{{ row.nacinPlacanja }}</td>
      <td>{{ row.uVoznji }}</td>
      <td>{{ row.aktivan }}</td>
      <td style="border-bottom-right-radius: 5px">{{ row.blokiran }}</td>
      <td *ngIf="isDriver">{{ row.status }}</td>
      <td *ngIf="isDriver" style="border-bottom-right-radius: 5px">{{ row.trenutnaLokacija }}</td>
      <td>
        <a [routerLink]="['/admin/history']" [queryParams]="{ email: row.email, driver: isDriver }"><i class="fa fa-history" aria-hidden="true"></i></a>
        <a (click)="blokirajKorisnika(row.email)"><i class="fa fa-ban" aria-hidden="true" ></i></a>
      </td>
    </tr>
    </tbody>

  </table>
  <br>
  <div></div>
</div>
